<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.account">
		<!-- 회원가입 -->
		<insert id="join">
			insert into account(
				account_id,
				account_email,
				account_password,
				account_nickname,
				account_birth,
				account_contact,
				account_post,
				account_address1,
				account_address2,
				account_message
			)
			values(
				#{accountId},
				#{accountEmail},
				#{accountPassword},
				#{accountNickname},
				#{accountBirth},
				#{accountContact},
				#{accountPost},
				#{accountAddress1},
				#{accountAddress2},
				#{accountMessage}
			)
		</insert>
		
		<!-- 회원상세 -->
		<select id="find" resultType="AccountDto">
			select * from account where account_id = #{accountId}
		</select>
		
		<!-- 회원상세[관리자] -->
		<select id="look" resultType="AccountDetailResponseVO">
			select * from account where account_id = #{accountId}
		</select>
			
		<!-- 존재유무 판단(아이디, 닉네임, 이메일) -->
		<select id="countAccountId" resultType="int">
			select count(*) from account where account_id = #{accountId}
		</select>
		<!-- 닉네임 중복검사 -->
		<select id="countAccountNickname" resultType="int">
			select count(*) from account where account_nickname = #{accountNickname}
		</select>
		<!-- 이메일 중복검사 -->
		<select id="countAccountEmail" resultType="int">
			select count(*) from account where account_email = #{accountEmail}
		</select>
		<!-- 회원 정보 수정 -->
		<update id="updateAccountLogin">
			update account set account_login = systimestamp where account_id= #{accountId}
		</update>
		
		<!-- 아이디에 해당하는 비밀번호 확인  -->
		<select id="checkAccountPassword" resultType="String">
			select account_password from account where account_id = #{accountId}
		</select>
		<!-- 비밀번호 변경 및 변경시간 갱신 -->
		<update id="updateAccountPassword">
			update account
			set account_password = #{accountPassword},
				account_change = systimestamp
			where account_id = #{accountId}
		</update>
		<update id="updateAll">
			update account
			set		account_nickname = #{accountNickname},
					account_email = #{accountEmail},
					account_birth = #{accountBirth},
					account_contact = #{accountContact},
					account_post = #{accountPost},
					account_address1 = #{accountAddress1},
					account_address2 = #{accountAddress2},
					account_message = #{accountMessage}
			where   account_id = #{accountId}
		</update>
		
	<!-- 관리자 회원 차단 갱신 -->
	<update id="updateAccountBlock">
		update account
		set account_block = #{accountBlock}
		where account_id = #{accountId}
	</update>
		 
	<!-- 관리자 회원검색용 구문 -->
	<select id="complexSearch" resultType="AccountSearchResultVO">
		
		<include refid="temp-header"></include>
		
		select 
			account_id, account_nickname,
			account_email, account_birth,
			account_contact, account_post,
			account_address1, account_address2,
			account_join, account_login, account_change,
			account_level, account_point, account_block
		from account
		
		<!-- 값이 존재할 경우 where 구문이 생기도록 처리 -->
		<where>
			<!-- 번호(rownum)에 따라 더보기를 위한 데이터 필터링 수행 -->
			
			<!-- 아이디: 일치하는 경우 -->
			<if test="accountId != null">
			and account_id = #{accountId}
			</if>
			<!-- 닉네임: 일치하는 경우 -->
			<if test="accountNickname != null">
			and account_nickname = #{accountNickname}
			</if>
			
			<!-- 연락처: 일치하는 경우 -->
			<if test="accountContact != null">
			and account_contact = #{accountContact}
			</if>
			<!-- 이메일: 포함(instr)하는 경우 -->
			<if test="accountEmail != null">
			<![CDATA[
			and instr(account_email, #{accountEmail}) > 0
			]]>
				</if>
				<!-- 주소: 포함하는 경우 -->
				<if test="accountAddress != null">
					and
					(
						instr(account_post, #{accountAddress}) > 0
						or 
						instr(account_address1, #{accountAddress}) > 0
						or 
						instr(account_address2, #{accountAddress}) > 0
					)
				</if>
			<!-- 생일: 범위 -->
			<choose>
				<when test="accountBirthBegin != null and accountBirthEnd !=null">
					and 
					to_TIMESTAMP(account_birth, 'YYYY-MM-DD')
					between 
						to_timestamp(#{accountBirthBegin}, 'YYYY-MM-DD')
					and
        				to_timestamp(#{accountBirthEnd}, 'YYYY-MM-DD')
				</when>
				<when test="accountBirthBegin != null">
					<![CDATA[
						and account_birth >= to_timestamp(#{accountBirthBegin}, 'YYYY-MM-DD')
					]]>
				</when>
				<when test="accountBirthEnd != null">
					<![CDATA[
						and account_birth <= to_timestamp(#{accountBirthEnd}, 'YYYY-MM-DD')
					]]>
				</when>		
			</choose>
			<!-- 가입일: 범위 -->
			<choose>
				<when test="accountJoinBegin != null and accountJoinEnd !=null">
					and account_join
					between 
						to_timestamp(#{accountJoinBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					and
        				to_timestamp(#{accountJoinEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
				</when>
				<when test="accountJoinBegin != null">
					<![CDATA[
						and account_join >= to_timestamp(#{accountJoinBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>
				<when test="accountJoinEnd != null">
					<![CDATA[
						and account_join < to_timestamp(#{accountJoinEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>		
			</choose>
			<!-- 로그인 시각: 범위 -->
			<choose>
				<when test="accountLoginBegin != null and accountLoginEnd !=null">
					and account_login
					between 
						to_timestamp(#{accountLoginBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					and
        				to_timestamp(#{accountLoginEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
				</when>
				<when test="accountLoginBegin != null">
					<![CDATA[
						and account_login >= to_timestamp(#{accountLoginBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>
				<when test="accountLoginEnd != null">
					<![CDATA[
						and account_login < to_timestamp(#{accountLoginEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>		
			</choose>
			<!-- 등급: 리스트 형태 -->
			<if test="accountLevels != null and accountLevels.size() > 0">
				and account_level in
				<foreach item="accountLevel" collection="accountLevels" 
					separator="," open="(" close=")">
					#{accountLevel}
				</foreach>
			</if>
			
			<!-- 차단여부: 리스트 형태 -->
			<if test="accountBlock != null">
				and account_block = #{accountBlock}
			</if>
			
			<!-- 포인트: 범위 -->
			<choose>
			<when test="accountPointMin != null and accountPointMax != null">
				and account_point between #{accountPointMin} and #{accountPointMax}
			</when>
			<when test="accountPointMin != null">
				<![CDATA[
				and account_point >= #{accountPointMin}
				]]>
			</when>
			<when test="accountPointMax != null">
				<![CDATA[
				and account_point <= #{accountPointMax}
				]]>
			</when>
			</choose>
		</where>	
		
		<include refid="temp-footer"></include>
		
		select * from (
			select * from temp_list
			<if test="lastAccountId != null">
				where rn > (
			<!-- 내가 마지막으로 보던 회원의 행번호를 구해라! -->
				select rn from temp_list 
				where account_id = #{lastAccountId}
			)
			</if> 
		) 
		<if test="size != null">
		<![CDATA[
		where rownum <= #{size}
		]]>
		</if>
	</select>
	
	<!-- 관리자 회원 카운트 -->
	<select id="complexSearchCount" resultType="int">
		
		<include refid="temp-header"/>
		
		select 
			account_id, account_nickname,
			account_email, account_birth,
			account_contact, account_post,
			account_address1, account_address2,
			account_join, account_login, account_change,
			account_level, account_point, account_block
		from account
		
		<!-- 값이 존재할 경우 where 구문이 생기도록 처리 -->
		<where>
			<!-- 번호(rownum)에 따라 더보기를 위한 데이터 필터링 수행 -->
			
			<!-- 아이디: 일치하는 경우 -->
			<if test="accountId != null">
			and account_id = #{accountId}
			</if>
			<!-- 닉네임: 일치하는 경우 -->
			<if test="accountNickname != null">
			and account_nickname = #{accountNickname}
			</if>
			
			<!-- 연락처: 일치하는 경우 -->
			<if test="accountContact != null">
			and account_contact = #{accountContact}
			</if>
			<!-- 이메일: 포함(instr)하는 경우 -->
			<if test="accountEmail != null">
			<![CDATA[
			and instr(account_email, #{accountEmail}) > 0
			]]>
				</if>
				<!-- 주소: 포함하는 경우 -->
				<if test="accountAddress != null">
					and
					(
						instr(account_post, #{accountAddress}) > 0
						or 
						instr(account_address1, #{accountAddress}) > 0
						or 
						instr(account_address2, #{accountAddress}) > 0
					)
				</if>
			<!-- 생일: 범위 -->
			<choose>
				<when test="accountBirthBegin != null and accountBirthEnd !=null">
					and 
					to_TIMESTAMP(account_birth, 'YYYY-MM-DD')
					between 
						to_timestamp(#{accountBirthBegin}, 'YYYY-MM-DD')
					and
        				to_timestamp(#{accountBirthEnd}, 'YYYY-MM-DD')
				</when>
				<when test="accountBirthBegin != null">
					<![CDATA[
						and account_birth >= to_timestamp(#{accountBirthBegin}, 'YYYY-MM-DD')
					]]>
				</when>
				<when test="accountBirthEnd != null">
					<![CDATA[
						and account_birth <= to_timestamp(#{accountBirthEnd}, 'YYYY-MM-DD')
					]]>
				</when>		
			</choose>
			<!-- 가입일: 범위 -->
			<choose>
				<when test="accountJoinBegin != null and accountJoinEnd !=null">
					and account_join
					between 
						to_timestamp(#{accountJoinBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					and
        				to_timestamp(#{accountJoinEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
				</when>
				<when test="accountJoinBegin != null">
					<![CDATA[
						and account_join >= to_timestamp(#{accountJoinBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>
				<when test="accountJoinEnd != null">
					<![CDATA[
						and account_join < to_timestamp(#{accountJoinEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>		
			</choose>
			<!-- 로그인 시각: 범위 -->
			<choose>
				<when test="accountLoginBegin != null and accountLoginEnd !=null">
					and account_login
					between 
						to_timestamp(#{accountLoginBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					and
        				to_timestamp(#{accountLoginEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
				</when>
				<when test="accountLoginBegin != null">
					<![CDATA[
						and account_login >= to_timestamp(#{accountLoginBegin} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>
				<when test="accountLoginEnd != null">
					<![CDATA[
						and account_login < to_timestamp(#{accountLoginEnd} || ' ' || '00:00:00.000', 
									'YYYY-MM-DD HH24:MI:FF3')
					]]>
				</when>		
			</choose>
			<!-- 등급: 리스트 형태 -->
			<if test="accountLevels != null and accountLevels.size() > 0">
				and account_level in
				<foreach item="accountLevel" collection="accountLevels" 
					separator="," open="(" close=")">
					#{accountLevel}
				</foreach>
			</if>
			
			<!-- 차단여부: 리스트 형태 -->
			<if test="accountBlock != null">
				and account_block = #{accountBlock}
			</if>
			
			<!-- 포인트: 범위 -->
			<choose>
			<when test="accountPointMin != null and accountPointMax != null">
				and account_point between #{accountPointMin} and #{accountPointMax}
			</when>
			<when test="accountPointMin != null">
				<![CDATA[
				and account_point >= #{accountPointMin}
				]]>
			</when>
			<when test="accountPointMax != null">
				<![CDATA[
				and account_point <= #{accountPointMax}
				]]>
			</when>
			</choose>
		</where>	
		
		<include refid="temp-footer"/>
		
		select count(*) from (
			select * from temp_list
			<if test="lastAccountId != null">
				where rn > (
			<!-- 내가 마지막으로 보던 회원의 행번호를 구해라! -->
				select rn from temp_list 
				where account_id = #{lastAccountId}
			)
			</if> 
		) 
	</select>
	
	<!-- 구문조각(SQL) -->
	<sql id="temp-header">
		with temp_list as (
			select rownum rn, TMP.* from(
	</sql>
	<sql id="temp-footer">
			)TMP
		)
	</sql>
	
</mapper>
