<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.lecture">
	<select id="sequence" resultType="int">
		select lecture_seq.nextval from dual
	</select>
	
	<insert id="add">
		insert into lecture(
			lecture_no, lecture_title, lecture_category, 
			lecture_duration, lecture_price, lecture_type
		)
		values(
			#{lectureNo}, #{lectureTitle}, #{lectureCategory}
			,#{lectureDuration}, #{lecturePrice}, #{lectureType}
		)
	</insert>
	
	<select id="list" resultType="LectureDto">
		select * from lecture order by lecture_no desc
	</select>
	
	<select id="find" resultType="LectureDto">
		select * from lecture where lecture_no = #{lectureNo}

	</select>
	
	<update id="updateAll">
		update lecture
		set lecture_title = #{lectureTitle},
			lecture_category = #{lectureCategory},
			lecture_duration = #{lectureDuration},
			lecture_price = #{lecturePrice},
			lecture_type = #{lectureType}
		where lecture_no = #{lectureNo}
	</update>
	<update id="updateUnit">
		update lecture
		<set>
			<if test="lectureTitle != null">
			lecture_title = #{lectureTitle},
			</if>
			<if test="lectureCategory != null">
			lecture_category = #{lectureCategory},
			</if>
			<if test="lectureDuration != null">
			lecture_duration = #{lectureDuration},
			</if>
			<if test="lecturePrice != null">
			lecture_price = #{lecturePrice},
			</if>
			<if test="lectureType != null">
			lecture_type = #{lectureType},
			</if>
		</set>
		where lecture_no = #{lectureNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete lecture where lecture_no = #{lectureNo}
	</delete>
	
	<!-- 더보기 방식 조회와 개수 -->
	<select id="listMore" resultType="LectureDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from lecture
				<!-- xml에서 < 를 쓸 수 없음 (태그 시작기호로 오해함)
 					[해결책]
 					1. 순서를 바꾼다 (>는 사용 가능)
 					2. < 대신 `&lt;`를 쓴다 (HTMl 특수문자)
 					3. CDATA 구문을 사용한다(안쪽을 전부 문자열 취급) // 지금은 맞으나 항상 정답일 수 없음
 				-->
				<if test="lastLectureNo != null || lastLectureNo > 0">
					<![CDATA[
					where lecture_no < #{lastLectureNo}
					]]>
				</if>
				order by lecture_no desc
			)TMP			
		) where rn between 1 and #{size}
	</select>
	<select id="count" resultType="int">	
		select count(*) from lecture 
		<if test="lastLectureNo != null">
		<![CDATA[
		where lecture_no < #{lectureNo}
		]]>
		</if>
	</select>
	
	<!-- 시작검색(검색창 연관검색어에 활용) -->
	
	<!-- 	복합검색 	-->
	<select id="complexSearch" resultType="LectureDto">
	<!-- 	값이 존재할 경우 where 구문이 생기도록 처리 -->
	with temp_list as (
	select rownum rn, TMP.* from(
		select * from lecture
		
	<where>
	<!-- 번호(rownum)에 따라 더보기를 위한 데이터 필터링을 수행 -->
	<!-- 카테고리를 리스트 형태로 받아서 처리 -->
	<if test="lectureCategories != null and lectureCategories.size() > 0">
	and lecture_category in 
		<foreach item="lectureCategory" collection="lectureCategories"
				separator=","	open="(" close=")">
			#{lectureCategory}
		</foreach>
	</if>
	<!-- 강좌명 : 포함 검색 -->
	<if test="lectureTitle != null">
		and instr(lecture_title, #{lectureTitle}) > 0
	</if>
	<!-- 강좌유형 : 리스트 형태 -->
	<if test="lectureTypes != null and lectureTypes.size() > 0">
	and lecture_type in
		<foreach item="lectureType" collection="lectureTypes"
			separator="," open="(" close=")">
			#{lectureType}
		</foreach>
	</if>
	<!-- 강좌 기간 : 범위 기간 검색 -->
	<choose>
		<when test="minLectureDuration != null and maxLectureDuration != null">
			and lecture_duration between #{minLectureDuration} and #{maxLectureDuration}
		</when>
	<when test="minLectureDuration != null">
		<![CDATA[
		and lecture_duration >= #{minLectureDuration}
		]]>
	</when>
	<when test="maxLectureDuration != null">
		<![CDATA[
		and lecture_duration <= #{maxLectureDuration}
		]]>
	</when>
	</choose>
	<!-- 가격 -->
	<choose>
		<when test="minLecturePrice != null and maxLecturePrice != null">
			and lecture_price between #{minLecturePrice} and #{maxLecturePrice}
		</when>
	<when test="minLecturePrice != null">
		<![CDATA[
		and lecture_price >= #{minLecturePrice}
		]]>
	</when>
	<when test="maxLecturePrice != null">
		<![CDATA[
		and lecture_price <= #{maxLecturePrice}
		]]>
	</when>
	</choose>
	</where>
	<!-- 정렬처리 -->
	order by
	<if test="orders != null">
		<foreach item="order" collection="orders">
			${order},
		</foreach>
	</if>
			lecture_no desc
		)TMP
	)
	select * from(
		select * from temp_list 
		<if test="lastLectureNo != null">
		<![CDATA[ where rn > (select rn from temp_list WHERE lecture_no = #{lectureNo}) ]]>
		</if>
	) 
	<if test="size != null">
	<![CDATA[where rownum <= #{size}]]>
	</if>
	</select>
	
	<!-- 	복합 검색 카운트 	-->
	<select id="complexSearchCount" resultType="int">
	<!-- 	값이 존재할 경우 where 구문이 생기도록 처리 -->
	with temp_list as (
	select rownum rn, TMP.* from(
		select * from lecture
		
	<where>
	<!-- 번호(rownum)에 따라 더보기를 위한 데이터 필터링을 수행 -->
	<!-- 카테고리를 리스트 형태로 받아서 처리 -->
	<if test="lectureCategories != null and lectureCategories.size() > 0">
	and lecture_category in 
		<foreach item="lectureCategory" collection="lectureCategories"
				separator=","	open="(" close=")">
			#{lectureCategory}
		</foreach>
	</if>
	<!-- 강좌명 : 포함 검색 -->
	<if test="lectureTitle != null">
		and instr(lecture_title, #{lectureTitle}) > 0
	</if>
	<!-- 강좌유형 : 리스트 형태 -->
	<if test="lectureTypes != null and lectureTypes.size() > 0">
	and lecture_type in
		<foreach item="lectureType" collection="lectureTypes"
			separator="," open="(" close=")">
			#{lectureType}
		</foreach>
	</if>
	<!-- 강좌 기간 : 범위 기간 검색 -->
	<choose>
		<when test="minLectureDuration != null and maxLectureDuration != null">
			and lecture_duration between #{minLectureDuration} and #{maxLectureDuration}
		</when>
	<when test="minLectureDuration != null">
		<![CDATA[
		and lecture_duration >= #{minLectureDuration}
		]]>
	</when>
	<when test="maxLectureDuration != null">
		<![CDATA[
		and lecture_duration <= #{maxLectureDuration}
		]]>
	</when>
	</choose>
	<!-- 가격 -->
	<choose>
		<when test="minLecturePrice != null and maxLecturePrice != null">
			and lecture_price between #{minLecturePrice} and #{maxLecturePrice}
		</when>
	<when test="minLecturePrice != null">
		<![CDATA[
		and lecture_price >= #{minLecturePrice}
		]]>
	</when>
	<when test="maxLecturePrice != null">
		<![CDATA[
		and lecture_price <= #{maxLecturePrice}
		]]>
	</when>
	</choose>
	</where>
	<!-- 정렬처리 -->
	order by
	<if test="orders != null">
		<foreach item="order" collection="orders">
			${order},
		</foreach>
	</if>
			lecture_no desc
		)TMP
	)
	select count(*) from(
		select * from temp_list 
		<if test="lastLectureNo != null">
		<![CDATA[ where rn > (select rn from temp_list WHERE lecture_no = #{lectureNo}) ]]>
		</if>
	)
	</select>
	
</mapper>