<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.purchase">
	
	<!-- 구매정보 등록 -->
	<select id="purchaseSequence" resultType="int">
		select purchase_seq.nextval from dual
	</select>
	<insert id="purchaseInsert">
		insert into purchase(
			purchase_no, purchase_name,
			purchase_total, purchase_remain,
			purchase_owner, purchase_tid
		)
		values(
			#{purchaseNo}, #{purchaseName},
			#{purchaseTotal}, #{purchaseRemain},
			#{purchaseOwner}, #{purchaseTid}
		)
	</insert>
	
	<select id="purchaseDetailSequence" resultType="int">
		select purchase_detail_seq.nextval from dual
	</select>
	
	<insert id="purchaseDetailInsert">
		insert into purchase_detail(
			purchase_detail_no, purchase_detail_origin,
			purchase_detail_item, purchase_detail_name,
			purchase_detail_price, purchase_detail_qty
		) values(
			#{purchaseDetailNo}, #{purchaseDetailOrigin},
			#{purchaseDetailItem}, #{purchaseDetailName},
			#{purchaseDetailPrice}, #{purchaseDetailQty}
		)
	</insert>
	
	<!-- 한 개 조회  -->
	<select id="purchaseFind" resultType="PurchaseDto">
		select * from purchase where purchase_no = #{purchaseNo}
	</select>
	
	<!-- 존재하는 결제번호에 대해 해당하는 상품 정보들 출력 -->
	<select id="purchaseDetailFind" resultType="PurchaseDetailDto">
		select * from purchase_detail 
		where purchase_detail_origin = #{purchaseDetailOrigin}
		order by purchase_detail_no asc
	</select>
	
	<!-- 전체 취소  -->
	<update id="purchaseCancel">
		update purchase
		set purchase_status = '전체취소',
			purchase_remain = 0
		where purchase_no = #{purchaseNo}
	</update>
	
	<!-- 전체 취소(상세부분)  -->
	<update id="purchaseDetailCancel">
		update purchase_detail
		set 
		purchase_detail_status = '취소'
		where purchase_detail_origin = #{purchaseOriginNo}
	</update>
	
	<!-- 상세주문번호로 상세 주문내역 1개를 조회하는 구문 -->
	<select id="purchaseDetailOne" resultType="PurchaseDetailDto">
		select * from purchase_detail where purchase_detail_no = #{purchaseDetailNo}
	</select>
	
	<!-- 세부항목취소에 따른 주문내역 변경 구문 -->
	<update id="purchaseCancelUnit">
		update purchase
		set		purchase_remain = purchase_remain - #{amount},
				purchase_status = case
					when purchase_remain - #{amount} > 0 then '부분취소'
					else '전체취소'
				end
		where 	purchase_no = #{purchaseNo}
	</update>
	<update id="purchaseDetailCancelUnit">
		update purchase_detail
		set		purchase_detail_status = '취소'
		where 	purchase_detail_no = #{purchaseDetailNo}
	</update>
</mapper>