<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.room">
	
	<!-- 방생성 -->
	<select id="sequence" resultType="int">
		select room_seq.nextval from dual
	</select>
	<insert id="create">
		insert into room(
			room_no, room_owner, room_name, room_limit
		)
		values(
			#{roomNo}, #{roomOwner}, #{roomName}, #{roomLimit}
		)
	</insert>
	
	<!-- 방 삭제  -->
	<delete id="delete">
		delete room where room_no = #{roomNo}
	</delete>
	
	<!-- 방 상세  -->
	<select id="find" resultType="RoomDto">
		select * from room where room_no = #{roomNo}
	</select>
	
	<!-- 방 목록 -->
	<select id="list" resultType="RoomDto">
		select * from room 
		order by room_no asc
	</select>
	
	<!-- 방 참여(참여자 등록) -->
	<insert id="enter">
		insert into room_user(room_no, account_id)
		values( #{roomNo}, #{accountId} )
	</insert>
	
	<!-- 방 나가기(참여자 제거)  -->
	<delete id="leave">
		delete room_user
		where room_no = #{roomNo}
				and
				account_id = #{accountId}
	</delete>
	
	<!-- 참여자 명단 조회 -->
	<select id="member" resultType="String">
		select account_id from room_user
		where room_no = #{roomNo}
		order by account_id asc
	</select>
</mapper>